
.emscripten {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    color: #d5d5d5;
    border: none;
}
textarea.emscripten {
    font-family: monospace;
    color: #d5d5d5;
    width: 80%;
    background-color: transparent;
    margin-top: 0;
}
div.emscripten {
    text-align: center;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
}
div.emscripten_border {
    border: 1px solid #2c2c2c;
    background-color: #d5d5d5;
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; width: 100%; height: 100%}
#dev_stuff {
    display: none;
    /*visibility: hidden;*/
    background-color: #2c2c2c;
    border: none;
}

.navbar {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d5d5;
}
/* title text design via https://codepen.io/juanbrujo/pen/yGpAK */
#title {
    vertical-align: middle;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 35px;
    color: #2c2c2c;
    margin: 0 auto;
    margin-left: 15px;
    letter-spacing: .05em;
    text-shadow:
            4px 4px 0px #d5d5d5,
            7px 7px 0px rgba(0, 0, 0, 0.2);
}
body.main{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#root{
    position: absolute;
    width:100%;
    height:100px;
    padding-right: 20px;
    margin-right: 10px;
}
#help {
    list-style-type: none;
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;

}
a.help {
    line-height: 65px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #d5d5d5;
}
a.help:hover {
    color: #259c9c;
}
.container {
    position:relative;
    width: 100%;
}
div.toolbar {
    max-height: 35px;
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.backbtn {
    display: inline-block;
    background-color: #259c9c;
    color: #2c2c2c;
    padding: 8px;
    margin: 5px;
    text-align: center;
    line-height: 10px;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.tool {
    font-family: sans-serif;
    font-weight: bold;
    display: inline-flex;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    font-size: 16px;
    color: #d5d5d5;
    background-color: #2c2c2c;
    border: 2px solid;
    border-left: none;
}

.icon {
    max-height: 35px;
    max-width: 35px;
}
.icon:hover {cursor:pointer; opacity: 0.7;}

#import {
    width: 80px;
    opacity: 0;
}
.input-file{
    font-family: sans-serif;
    margin-right: 0px;
    opacity: 0;
}
#overlay {
    position: absolute;
    left: 45px;
    bottom: 4px;
}
.tool:hover {border-color: #259c9c; cursor: pointer;}
.dropdown:hover {border-color: #259c9c;}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.menu-items {
    display: none;
    position: absolute;
    text-align: left;
    background-color: #d5d5d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.option {
    border-bottom: 1px solid #7c868a;
}
.input-box {
    position:relative;
}
.bend-val {
    left: 0;
}
#hidden_box {
    display:none;
}
#hidden_text {
    font-style: italic;
    font-size: 11px;
}
#hover_here:hover + #hidden_box {
    display: block;
}
.menu-header{
    border-bottom: 2px solid #7c868a;
    text-align: center;
    background-color: #259c9c;
    height: 15px;
}
.menu-items a, .menu-items div {
    color: #2c2c2c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-items a:hover {background-color: #ddd; cursor:pointer;}
/*.dropdown:hover .menu-items {display: block;}*/
#export-menu:hover .menu-items {display: block;}
.toolGroup {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.toggleLabel {
    color: #d5d5d5;
    font-size: 14px;
    font-family: sans-serif;
    display: inline-block;
    line-height: 30px;
}
.toggle{
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.toggle:hover {cursor:pointer;}
.coords {
    display: flex;
    flex-flow: row wrap;
    line-height: 35px;
    margin-right: 5px;
    margin-left: auto;
}
.coords label {
    color: #d5d5d5;
    font-family: sans-serif;
}
.xycoords {
    color: #d5d5d5;
    font-family: sans-serif;
    margin-right: 5px;
}

.spinner {
    height: 50px;
    width: 50px;
    margin: 0px auto;
    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;
    border-left: 10px solid rgb(0,150,240);
    border-right: 10px solid rgb(0,150,240);
    border-bottom: 10px solid rgb(0,150,240);
    border-top: 10px solid rgb(100,0,200);
    border-radius: 100%;
    background-color: rgb(200,100,250);
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* Marquee selector tool */
.selection-area {
    background: rgba(46, 115, 252, 0.11);
    border: 2px solid rgba(98, 155, 255, 0.81);
    border-radius: 0.1em;
}

/* help.html text styles */
.help_container {
    margin: 10px;
}
.help_text {
    font-family: sans-serif;
}
.help_container h2{
    color: #2c2c2c;
    font-family: sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.subhead {
    font-family: sans-serif;
    font-weight: bolder;
    color: #259c9c;
}
.help_img {
    max-width: 200px;
    height: auto;
    margin-left: 20px;
    box-shadow: 2px 2px #259c9c;
}