
.emscripten {
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    color: #d5d5d5;
    border: none;
}
textarea.emscripten {
    font-family: monospace;
    color: #d5d5d5;
    width: 80%;
    background-color: transparent;
    margin-top: 0;
}
div.emscripten {
    text-align: center;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
}
div.emscripten_border {
    border: 1px solid #2c2c2c;
    background-color: #d5d5d5;
}
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; }
#dev_stuff {
    background-color: #2c2c2c;
    border: none;
}

.navbar {
    height: 65px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5d5d5;
}
/* title text design via https://codepen.io/juanbrujo/pen/yGpAK */
#title {
    vertical-align: middle;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 35px;
    color: #2c2c2c;
    margin: 0 auto;
    margin-left: 15px;
    letter-spacing: .05em;
    text-shadow:
            4px 4px 0px #d5d5d5,
            7px 7px 0px rgba(0, 0, 0, 0.2);
}
#help {
    list-style-type: none;
    width: 60px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;

}
a.help {
    line-height: 65px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #d5d5d5;
}
a.help:hover {
    color: #259c9c;
}
.container {
    position:relative;
    width: 100%;
}
div.toolbar {
    height: 35px;
    width: 100%;
    background-color: #2c2c2c;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
.backbtn {
    display: inline-block;
    background-color: #259c9c;
    color: #2c2c2c;
    padding: 8px;
    margin: 5px;
    text-align: center;
    line-height: 10px;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.tool {
    font-family: sans-serif;
    font-weight: bold;
    display: inline-flex;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
    font-size: 16px;
    color: #d5d5d5;
    background-color: #2c2c2c;
    border: 2px solid;
    border-left: none;
}
#import {
    width: 80px;
    opacity: 0;
}
.input-file{
    font-family: sans-serif;
    margin-right: 0px;
    opacity: 0;
}
#overlay {
    position: absolute;
    left: 45px;
    bottom: 4px;
}
.tool:hover {border-color: #259c9c; cursor: pointer;}
.dropdown:hover {border-color: #259c9c;}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;}
.menu-items {
    display: none;
    position: absolute;
    background-color: #d5d5d5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-items a {
    color: #2c2c2c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-items a:hover {background-color: #ddd;}
.dropdown:hover .menu-items {display: block;}
.rotate {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#rlabel {
    color: #d5d5d5;
    font-size: 14px;
    font-family: sans-serif;
    display: inline-block;
    line-height: 30px;
}
.rtoggle{
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.rtoggle:hover {cursor:pointer;}
.coords {
    display: flex;
    flex-flow: row wrap;
    line-height: 35px;
    margin-right: 5px;
    margin-left: auto;
}
.coords label {
    color: #d5d5d5;
    font-family: sans-serif;
}
.xycoords {
    color: #d5d5d5;
    font-family: sans-serif;
    margin-right: 5px;
}

.spinner {
    height: 50px;
    width: 50px;
    margin: 0px auto;
    -webkit-animation: rotation .8s linear infinite;
    -moz-animation: rotation .8s linear infinite;
    -o-animation: rotation .8s linear infinite;
    animation: rotation 0.8s linear infinite;
    border-left: 10px solid rgb(0,150,240);
    border-right: 10px solid rgb(0,150,240);
    border-bottom: 10px solid rgb(0,150,240);
    border-top: 10px solid rgb(100,0,200);
    border-radius: 100%;
    background-color: rgb(200,100,250);
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}